name: Labeling new issue
on:
  issues:
    types: ['opened']
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: DevDappcom/devdapp
          token: ${{ secrets.PAT }}
          ref: main
          sparse-checkout: |
            .github/workflows/auto-label.json5
          sparse-checkout-cone-mode: false
      - uses: Renato66/auto-label@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Close Issue
        uses: peter-evans/close-issue@v3
        with:
          comment: Auto-closing issue
